body {
	font-family: 'Open sans', sans-serif;

}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container{
	width: 80%;
    margin: 0 auto;
	padding:0 5%;
}

#primary {
		width:50%;
		float:left;
	}
	
#secondary {
		width:40%;
		float:right;
	}
	
main{
	background-color:#edf0f5;
}

#createAccount{
	background-color:#69a74e;
	border-radius:5px;
	font-size:16px;
	padding:5px;
}
